name: acc-tests

on:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false

      - name: Acceptance Tests
        env:
          AXIOM_TOKEN: ${{ secrets.TF_PROVIDER_API_TOKEN }}
          AXIOM_URL: ${{ vars.AXIOM_URL }}
        run: |
          make testacc